<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>



		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ActiveWorks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>



		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ActiveWorks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>


	<runtime>

		<loadFromRemoteSources enabled="true" />



		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ObjectListView" publicKeyToken="b1c5bf581481bcd4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.9.1.1072" newVersion="2.9.1.1072" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.71.0.0" newVersion="1.71.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.71.0.0" newVersion="1.71.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>


			<dependentAssembly>



				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="DnsClient" publicKeyToken="4574bb5573c51424" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-0.36.0.0" newVersion="0.36.0.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="Magick.NET.Core" publicKeyToken="2004825badfa91ec" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-14.9.0.0" newVersion="14.9.0.0" />



			</dependentAssembly>





			<dependentAssembly>



				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="Microsoft.Scripting" publicKeyToken="7f709c5b713576e1" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-1.3.4.0" newVersion="1.3.4.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="Microsoft.Dynamic" publicKeyToken="7f709c5b713576e1" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-1.3.4.0" newVersion="1.3.4.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="ZstdSharp" publicKeyToken="8d151af33a4ad5cf" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-0.7.6.0" newVersion="0.7.6.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="Snappier" publicKeyToken="a1b25124e6e13a3a" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-1.1.6.0" newVersion="1.1.6.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="Ookii.Dialogs.WinForms" publicKeyToken="66aa232afad40158" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-5.5.13.4" newVersion="5.5.13.4" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="Magick.NET-Q16-AnyCPU" publicKeyToken="2004825badfa91ec" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-14.9.0.0" newVersion="14.9.0.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="PDFlib_dotnet" publicKeyToken="af0805f2b25bb299" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="MongoDB.Bson" publicKeyToken="94992a530f44e321" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-2.30.0.0" newVersion="2.30.0.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="MongoDB.Driver.Core" publicKeyToken="94992a530f44e321" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-2.30.0.0" newVersion="2.30.0.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-9.0.0.9" newVersion="9.0.0.9" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-9.0.0.5" newVersion="9.0.0.5" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-9.0.0.6" newVersion="9.0.0.6" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />



			</dependentAssembly>



			<dependentAssembly>



				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />



				<bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />



			</dependentAssembly>



		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>

	<userSettings>
		<ActiveWorks.Properties.Settings>
   <setting name="ProfilesPath" serializeAs="String">
    <value>Profiles</value>
   </setting>
   <setting name="DefaultProfile" serializeAs="String">
    <value />
   </setting>
   <setting name="WindowLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="WindowSize" serializeAs="String">
    <value>800, 600</value>
   </setting>
   <setting name="VirtualScreenX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VirtualScreenY" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VirtualScreenW" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VirtualScreenH" serializeAs="String">
    <value>0</value>
   </setting>
  </ActiveWorks.Properties.Settings>


	</userSettings>
	<applicationSettings>
		<ActiveWorks.Properties.Settings>
   <setting name="WhatNew" serializeAs="String">
    <value>
					8.6.1
					-----------------
					+ в утіліти для PDF -&gt; змінення розміру сторінок
					+ в утіліти для PDF -&gt; розділення розворотів навпіл

					8.4.1
					-----------------
					+ додав стандартні формати у діалог виставлення трім боксів

					8.3.1
					-----------------
					+ можливість зберігати файли Signa Station у папці з замовленням
					+ Скидання положень вікон без перезапуску програми
					+ Зміни в браузері без перезапуску програми


					8.0.0
					-----------------
					Перехід на net 4.8 і mongodb 4.4. Несумісно з попередньою версією
					+ створення jpg прев'ю з pdf
					+ видалення категорій у налаштуваннях

					7.8.10
					-----------------
					+ додав "Утиліти для PDF" -&gt; "Розвернути сторінки на 90° дзеркально". Непарні сторінки розветаються на 90° проти годинникової стрілки. Парні - за годинниковою стрілкою.
					+ при відправлені листа показує сумартий об'єм вкладень


					7.6.10
					-----------------
					+ додав генератор пустишок Pdf з тиражами для Signa. Викликається через контекстне меню у браузері: "Утиліти для PDF" -&gt; "Створити "пустишки" з тиражами"

					7.5.10
					------------------
					+ переробив фонові задачі.

					7.4.9
					------------------
					+ в PDF utils додав "розділення файлу на обкладинку і блок"

					7.4.8
					------------------
					* при правому кліку у вікні з файлами, якщо нема активного замовлення, вискакувала помилка

					7.4.7
					-------------------
					* зберігається історія пошуку при перезапуску програми

					7.4.6
					-------------------
					* при видаленні файла, показує хто блокує файл.

					7.4.5
					--------------------
					+ перенесено у плагін RabbitMq
					* виправлено помилки з відправкою лишніх повідомлень через RabbitMq

					7.3.3
					--------------------
					+ опція в налаштуваннях для конвертації в PDF.

					7.2.3
					---------------------
					+ при нажатому Shift примусово створюється новий шаблон для Signa

					7.1.3
					---------------------
					* не оновлювалось кількість файлів при видаленні

					7.1.2
					---------------------
					* виправлено помилку з програванням звуків при нових файлах на ftp

					7.1.1
					---------------------
					* виправлено подвійний запуск додатків

					7.0.0 beta 37
					---------------------
					+ додана подія "AvailableSound.Ftp_StopTimer" для плагінів на FtpExplorer.TimerStop()

					7.0.0 beta 36
					---------------------
					+ додано можливість зупиняти таймер автоматичної перевірки FTP із скрипта.
					Викликається так: FtpExplorer.TimerStop()
				</value>
   </setting>
  </ActiveWorks.Properties.Settings>
	</applicationSettings>
</configuration>
