<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Krypton.Docking" version="105.26.4.110" targetFramework="net48" />
  <package id="Krypton.Navigator" version="105.26.4.110" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="105.26.4.110" targetFramework="net48" />
  <package id="Krypton.Workspace" version="105.26.4.110" targetFramework="net48" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.11.0" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.3595.46" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="10.0.5" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
</packages>
