<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProofFolder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <connectionStrings>
    <add name="ProofFolder.Properties.Settings.TetrisNewConnectionString" connectionString="Data Source=server;Initial Catalog=TetrisNew;Persist Security Info=True;User ID=Evgeniy;Password=12351" providerName="System.Data.SqlClient" />
    <add name="ProofFolder.Properties.Settings.TetrisNewConnectionString1" connectionString="Data Source=server;Initial Catalog=TetrisNew;Persist Security Info=True;User ID=Oksana;Password=zaza" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <userSettings>
    <ProofFolder.Properties.Settings>
      <setting name="connStr" serializeAs="String">
        <value>metadata=res://*/TetrisData.csdl|res://*/TetrisData.ssdl|res://*/TetrisData.msl;provider=System.Data.SqlClient;provider connection string=&amp;quot;data source=server;initial catalog=TetrisNew;persist security info=True;user id=Evgeniy;password=12351;MultipleActiveResultSets=True;App=EntityFramework&amp;quot;" providerName="System.Data.EntityClient"</value>
      </setting>
    </ProofFolder.Properties.Settings>
  </userSettings>
</configuration>