<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.5.1" targetFramework="net48" />
  <package id="Google.Apis" version="1.71.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.71.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.71.0" targetFramework="net48" />
  <package id="Google.Apis.Drive.v3" version="1.70.0.3893" targetFramework="net48" />
  <package id="Google.Apis.Gmail.v1" version="1.70.0.3833" targetFramework="net48" />
  <package id="Krypton.Toolkit" version="80.24.3.64" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.9" targetFramework="net48" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.11.0" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net48" />
  <package id="MimeKit" version="4.13.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="Ookii.Dialogs.WinForms" version="4.0.0" targetFramework="net48" />
  <package id="RtfPipe" version="2.0.7677.4303" targetFramework="net48" />
  <package id="S22.ImapWithUTF8" version="3.6.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.9" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.9" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.9" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="WindowsAPICodePack" version="7.0.4" targetFramework="net48" />
</packages>